@import "../../style/abstracts/variables";
@import "../../style/abstracts/mixin";

header {
  background: $bg-color-dark;
  margin: 0;
  position: fixed;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__logo {
    @include h2;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }

  a {
    display: block;
    @include text-light;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a:hover {
    color: #3e3e42;
  }
}
